<configuration>

    <springProperty scope="context" name="appname" source="spring.application.name"/>
    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>../centralized-logs/${appname}.log</file> <!-- Each service writes to its own file -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"${appname}"}</customFields>
            <!--            <customFields>{"application":"${spring.application.name}", "environment":"${spring.profiles.active}"}</customFields>  environment in the future-->
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>